<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="imgBx">
                <a href="#">
                    <img class="image" src="images/img1.jpg" alt="image">
                </a>
            </div>
            <div class="details">
                <h2 class="heading">Fire Suppression System</h2>
                <br>
                <ul>
                    <li>Wet Chemical Fire Suppression System</li>
                    <li>Electrical Panel Fire Suppression System</li>
                    <li>Tube Base Suppression System</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <a href="#">
                    <img class="image" src="/images/img3.webp" alt="image">
                </a>
            </div>
            <div class="details">
                <h2 class="heading">Fire Alarm System</h2>
                <br>
                <ul>
                    <li>Conventional Fire Alarm System</li>
                    <li>Standalone Smoke Detector</li>
                    <li>Conventional Heat Detector</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <a href="#">
                    <img class="image" src="/images/img4.webp" alt="image">
                </a>
            </div>
            <div class="details">
                <h2 class="heading">Industrial Valves</h2>
                <br>
                <ul>
                    <li>Fire Hydrant Valve</li>
                    <li>Ul Listed Sprinkler</li>
                    <li>Fire Lines Valves</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <a href="#">
                    <img class="image" src="/images/img2.webp" alt="image">
                </a>
            </div>
            <div class="details">
                <h2 class="heading">Industrial Valves</h2>
                <br>
                <ul>
                    <li>Fire Hydrant Valve</li>
                    <li>Ul Listed Sprinkler</li>
                    <li>Fire Lines Valves</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>