<div class="vision-div">
    <div class="content-div">
        <div class="image-div">
            <img src="../../assets/our-vision.png" alt="">
        </div>
        <div class="content">
            <div class="title">
                <h1>OUR VISION</h1>
            </div>
            <div class="sub-desc">
                <div class="subtitle">
                    <h4>Elevating Safety Standards Across India.</h4>
                </div>
                <div class="description">
                    <p>
                        NFPA India is dedicated to fostering a safer environment nationwide through innovative solutions for fire prevention and protection. Our commitment is to empower individuals, communities, and industries while ensuring their well-being and prosperity.            
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- NFPA India is a leading authority in fire safety, driven by a relentless dedication to protecting lives and property. With a rich history of innovation and expertise, we strive to set the highest standards in fire prevention and protection. Through collaboration, education, and advocacy, we empower stakeholders to mitigate fire risks effectively. Our mission is not only to respond to fire emergencies but to prevent them altogether, ensuring a safer, more resilient India for generations to come. -->