<div class="title">
    <h1>About Us</h1>          
      <nav aria-label="breadcrumb" class="breadcrumb-header">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><a href="/about">About Us</a></li>
        </ol>
      </nav>
</div>

<div class="container">
    <h2>Introduction</h2>
    <div class="intro">
        <p>
            Since its inception in 2012, National Fire Protection Armour has emerged as a foremost player in the industry, specializing in the manufacturing, wholesale distribution, and supply of a comprehensive range of fire safety equipment. As a trusted service provider and trader, we offer a diverse array of products, including Fire Extinguishers, Automatic Fire Detectors, Suppression Systems, Safety Sign Boards, and more. Our products have garnered widespread acclaim in the market for their extended operational life, minimal maintenance requirements, superior performance, and competitive pricing.
            Committed to maintaining the highest standards of quality, National Fire Protection Armour operates with a singular focus: delivering unparalleled products to our valued clientele. With a dedication to safety and excellence, we take pride in our role as a reliable partner in promoting fire protection and ensuring the well-being of our customers.
        </p>
    </div>
</div>

