<div class="items">
    <div class="item-img">
        <img src="../../assets/images/fire-extinguisher.png">
    </div>
    <div class="item-minimum-details">
        <h2>Fire Supression Systems</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 mb-4 mb-lg-0">
        <!-- Image with black mask -->
        <div class="bg-image rounded-6">
          <img
            src="../../assets/images/fire-extinguisher.png"
            class="w-100"
            alt="Alternative text"
          />
          <!-- Mask -->
          <div
            class="mask"
            style="
              background: linear-gradient(
                to bottom,
                hsla(0, 0%, 0%, 0) 50%,
                hsla(0, 0%, 0%, 0.5)
              );
            "
          >
            <div
              class="
                bottom-0
                d-flex
                align-items-end
                h-100
                text-center
                justify-content-center
              "
            >
              <div>
                <h2 class="fw-bold text-white mb-4">Approx. Rs 2,300 / Piece</h2>
                <h2 class="fw-bold text-white mb-4">Product Details:</h2>
                <p>ISI approved CO2 type of fire extinguisher is applicable to fight Class B, Class C, and Electrical fire.
                    Available in 2 Kg, 4.5 Kg, 6.5 Kg, 9 Kg, 22.5 Kg these capacities
                    
                    <h3>Other Details :</h3>
                    Prices may vary as per sizes
                    
                    <h3>Additional Information:</h3>
                    Port of Dispatch: Pune
                    Delivery Time: One Day</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
