<section class="individual-items">

  <div class="items" *ngIf="product$ | async as product">
    <h2>{{ product['name'] }}</h2>
    <nav aria-label="breadcrumb" class="breadcrumb-header">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/total-systems">Products & Services</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="/itemss">{{ product['name'] }}</a></li>
      </ol>
    </nav>
    <div class="form-search">
      <div class="search">
          <input class="search-box" type="search" placeholder="Search">
      </div>
    </div>
    <div class="para">
      <p>{{ product['description'] }}</p>
    </div>
    <div class="big-div">
      <div class="big-container">
        @for (id of ids; track $index) {
            <app-item [id]="id" [productId]="productId" [type]="type"></app-item>
        }
      </div>
    </div>
</div>

</section>