<div class="main-container">
    <div>
        <h1 class="title" #title>Our Products</h1>
    </div>

    <div class="products-list">

    <div #product class="product-card">
        <div class="para">
            <p class="new-product-solid">Fire Extinguishers</p>
        </div>
        <div class="hide-nd-play">
            <div class="product-image">
                <img src="../../assets/products/fire-extinguisher-removebg-preview.png" alt="">
            </div>
            <div class="product-details">
                <ul class="details-list">
                    <li class="detail-item">
                        ABC/DCP Powder
                    </li>
                    <li class="detail-item">
                        K Type (F Class)
                    </li>
                    <li class="detail-item">
                        CO2 Type
                    </li>
                    <li class="detail-item">
                        Foam/Water Based
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div #product class="product-card">
        <div class="para">
            <p class="new-product-solid">Fire Alarm System</p>
        </div>
        <div class="hide-nd-play">
                <div class="product-image">
                    <img src="../../assets/products/smoke-detector (1).png" alt="">
                </div>
                <div class="product-details">
                    <ul class="details-list">
                        <li class="detail-item">
                            Wireless Fire Alarm System
                        </li>
                        <li class="detail-item">
                            Conentional Fire Alarm
                        </li>
                        <li class="detail-item">
                            Addressable Fire Alarm System
                        </li>
                    </ul>
                </div>
        </div>
    </div>

    <div #product class="product-card">
        <div class="para">
            <p class="new-product-solid">Fire Hydrant System</p>
        </div>
        <div class="hide-nd-play">
                <div class="product-image">
                    <img src="../../assets/products/hydrant.png" alt="">
                </div>
                <div class="product-details">
                    <ul class="details-list">
                        <li class="detail-item">
                            Hydrant Valves
                        </li>
                        <li class="detail-item">
                            Hose Boxes
                        </li>
                        <li class="detail-item">
                            Hose Reel Drum
                        </li>
                        <li class="detail-item">
                            Hose Pipes
                        </li>
                    </ul>
                </div>
        </div>
    </div>

    <div #product class="product-card">
        <div class="para">
            <p class="new-product-solid">Fire Supression System</p>
        </div>
        <div class="hide-nd-play">
                <div class="product-image">
                    <img src="../../assets/products/fire-extinguisher.png" alt="">
                </div>
                <div class="product-details">
                    <ul class="details-list">
                        <li class="detail-item">
                            FM 200
                        </li>
                        <li class="detail-item">
                            CO2 Flooding
                        </li>
                        <li class="detail-item">
                            Kitchen Fire Supression
                        </li>
                        <li class="detail-item">
                            Tube Base Fire Supression
                        </li>
                    </ul>
                </div>
        </div>
    </div>

    <div #product class="product-card">
        <div class="para">
            <p class="new-product-solid">Fire Sprinklers with Flexible Pipes</p>
        </div>
        <div class="hide-nd-play">
                <div class="product-image">
                    <img src="../../assets/products/fire-alarm.png" alt="">
                </div>
                <div class="product-details">
                    <ul class="details-list">
                        <li class="detail-item">
                            Fire Sprinkler System
                        </li>
                        <li class="detail-item">
                            Foam Sprinkler System
                        </li>
                        <li class="detail-item">
                            Sprinkler curtain System
                        </li>
                        <li class="detail-item">
                            High/medium velocity System
                        </li>
                    </ul>
                </div>
        </div>
    </div>

    <div #product class="product-card">
        <div class="para">
            <p class="new-product-solid">Signages</p>
        </div>
        <div class="hide-nd-play">
                <div class="product-image">
                    <img src="../../assets/products/fire-exit.png" alt="">
                </div>
                <div class="product-details">
                    <ul class="details-list">
                        <li class="detail-item">
                            Safety Signages
                        </li>
                        <li class="detail-item">
                            Warning signages
                        </li>
                        <li class="detail-item">
                            Emergency Lighting
                        </li>
                        <li class="detail-item">
                            LED Signages
                        </li>
                    </ul>
                </div>
        </div>
    </div>


    </div>
    
    <div class="button-class">
        <button class="button ">
            <div class="hoverEffect">
                <div></div>
            </div>
            <a href="#">View All Products</a>
        </button>
    </div>

</div>