
<nav [ngClass]="{'navigate': isOriginal, 'scrollNavigateUp': isScrollUp }">

    <div class="logoName">
      <img src="../../assets/images/logo-cropped.jpeg" alt="logo" class="logoImage"  *ngIf="isOriginal"/>
      <img src="../../assets/images/logo-cropped - colored.jpeg" alt="logo" class="logoImage" *ngIf="isScrollUp" />
      <span class="fire-logo">NFPA India Pvt. Ltd</span>
    </div>

    <div class="menu">
      <a href="../app.component.html">Home</a>
      <a href="#">About Us</a>
      <a href="../total-systems/total-systems.component.html">Products & Services</a>
      <a href="#">Contact Us</a>
    </div>

</nav>