<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/nationalfireprotectionarmour/" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/" role="button"
        ><i class="fa-brands fa-x-twitter"></i></a>

      <!-- Google -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://instagram.com/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://linkedin.com/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>


    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
           
              <input mdbInput type="email" id="form5Example24" class="form-control" />
              <label mdbLabel class="form-label" for="form5Example24">Email address</label>
         
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button mdbRipple type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p style="font-size: 30px;">
       YOUR SAFETY, OUR RESPONSIBILITY
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Page Structure</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Home</a>
            </li>
            <li>
              <a href="#!" class="text-white">About Us</a>
            </li>
            <li>
              <a href="#!" class="text-white">Product & Services</a>
            </li>
            <li>
              <a href="#!" class="text-white">Photo Gallery</a>
            </li>
            <li>
              <a href="#!" class="text-white">Contact</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->


        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Find Us Here: </h5>

          RH-15, Sai Angan Society, Wadmukhwadi, Moshi, Pune -412105
        </div>
        <!--Grid column-->

        <!--Grid column-->

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Navigate: </h5>

          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1156.8151114914574!2d73.87492563303846!3d18.651625829320306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c7ebe8cf123d%3A0xbcac33ebea338604!2sSai%20Angan!5e0!3m2!1sen!2sin!4v1707799090967!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="map"></iframe>
        </div>


      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:All rights reservesd : 
    <a class="text-white" href="https://mdbootstrap.com/">NATIONAL FIRE PROTECTION ARMOUR</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->