<div class="container">

    <div class="title">
        <h1>Our Services</h1>
    </div>

    <div class="main-container">
    
        <div class="capsule-container">
            <div class="image-class left">
                <img src="../../assets/services/app-support.png" alt="QR Code">
            </div>
            <div class="text-content">
                <strong>App Support</strong><br>
                NFPA is a Company wherein you get periodic updates of your system.
            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class center">
                <img src="../../assets/services/qr-code.png" alt="QR Code">
            </div>
            <div class="text-content">
                <strong>Scan On The Go</strong><br>
                All fire-fighting equipment will be QR coded, you can scan & get all the details in seconds.
            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class right">
            <img src="../../assets/services/breakdown.png" alt="QR Code">
            </div>
            <div class="text-content">
            <strong>Unlimited Breakdown Calls</strong><br>
                We at NFPA believe in customer satisfaction and hence we offer unlimited breakdown calls for your system.
            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class left">
            <img src="../../assets/services/technical-support.png" alt="QR Code">
            </div>
            <div class="text-content">
            <strong>Immediate Service</strong><br>
            Our engineer will be at your site to attend the request immediately.
            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class center">
                <img src="../../assets/services/form-b.png" alt="QR Code">
            </div>
            <div class="text-content">
                <strong>Form B Support</strong><br>
                NFPA is a Government approved A class licensed Agency, so you get Form B twice a Year I
            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class right">
            <img src="../../assets/services/training.png" alt="QR Code">
            </div>
            <div class="text-content">
            <strong>Fire Fighting Training</strong><br>
            Can your staff save you in case of an emergency? Get your staff trained by expert trainers.
            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class left">
                <img src="../../assets/services/servicing.png" alt="QR Code">
            </div>
            <div class="text-content">
                <strong>Repairs & Servicing</strong><br>
                We will repair or replace any damaged or non-functioning part to make the system 100% operational.            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class center">
                <img src="../../assets/services/audit.png" alt="QR Code">
            </div>
            <div class="text-content">
                <strong>Fire Audits</strong><br>
                Fire audits with fire load calculation as per IS, NBC, NFPA norms.
            </div>
        </div>
    
        <div class="capsule-container">
            <div class="image-class right">
            <img src="../../assets/services/emergency.png" alt="QR Code">
            </div>
            <div class="text-content">
            <strong>Emergency</strong><br>
            Emergency evacuation drill with the First Aid training            </div>
        </div>
    
    </div>
</div>