<div class="container">
    <div class="title">
        <h1>Certificates</h1>
    </div>
    <div class="cerificates">
        <div class="list1">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
        </div>
        <div class="list2">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
            <img class="single-logo" src="../../assets/Certificates/iso-9001-2015-grey-logo.png" alt="">
        </div>
    </div>
</div>